* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 24px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  background: url(../img/group_1100580.webp) center no-repeat;
  background-color: #f9f4ee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 100vh;
  position: relative;
}

.page__leaf {
  position: absolute;
}

.page__leaf_1 {
  -webkit-animation: fly1 5s infinite linear;
          animation: fly1 5s infinite linear;
  top: 21%;
  left: 38%;
}

.page__leaf_2 {
  -webkit-animation: fly2 10s infinite linear;
          animation: fly2 10s infinite linear;
  /* top: 11%;
  right: 12%; */
  top: 23%;
  right: 27%;
  -webkit-transform: rotate(129deg) scale(1.4, -1.4);
      -ms-transform: rotate(129deg) scale(1.4, -1.4);
          transform: rotate(129deg) scale(1.4, -1.4);
}

.page__leaf_3 {
  -webkit-animation: fly3 5s infinite linear;
          animation: fly3 5s infinite linear;
  right: 24%;
  bottom: 25%;
  -webkit-transform: rotate(252deg) scale(0.8, -0.8);
      -ms-transform: rotate(252deg) scale(0.8, -0.8);
          transform: rotate(252deg) scale(0.8, -0.8);
}

.page__leaf_4 {
  -webkit-animation: fly4 10s infinite linear;
          animation: fly4 10s infinite linear;
  bottom: 33%;
  left: 25%;
  -webkit-transform: rotate(355deg);
      -ms-transform: rotate(355deg);
          transform: rotate(355deg);
}

.page__logo {
  margin-top: 102px;
  width: calc(118px + 135 * ((100vw - 320px) / 1600));
}

.page__logo img {
  max-width: 100%;
}

.page__block {
  margin-top: 138px;
  max-width: 788px;
  text-align: center;
  line-height: 32px;
}

.page__title {
  font-size: 36px;
  line-height: 32px;
  font-weight: bold;
  margin-bottom: 29px;
}

.page__subtitle {
  font-size: 24px;
  line-height: 32px;
}

.page__phone {
  font-weight: bold;
  color: #939c3f;
}

@-webkit-keyframes fly1 {
  from {
    -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg);
            transform: rotate(0deg) translateX(150px) rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg);
            transform: rotate(360deg) translateX(150px) rotate(-360deg);
  }
}

@keyframes fly1 {
  from {
    -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg);
            transform: rotate(0deg) translateX(150px) rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg);
            transform: rotate(360deg) translateX(150px) rotate(-360deg);
  }
}

@-webkit-keyframes fly2 {
  from {
    -webkit-transform: rotate(0deg) translateY(150px) rotate(0deg);
            transform: rotate(0deg) translateY(150px) rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg) translateY(150px) rotate(-360deg);
            transform: rotate(360deg) translateY(150px) rotate(-360deg);
  }
}

@keyframes fly2 {
  from {
    -webkit-transform: rotate(0deg) translateY(150px) rotate(0deg);
            transform: rotate(0deg) translateY(150px) rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg) translateY(150px) rotate(-360deg);
            transform: rotate(360deg) translateY(150px) rotate(-360deg);
  }
}

@-webkit-keyframes fly3 {
  from {
    -webkit-transform: rotate(0deg) translateY(200px) rotate(0deg);
            transform: rotate(0deg) translateY(200px) rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg) translateY(200px) rotate(-360deg);
            transform: rotate(360deg) translateY(200px) rotate(-360deg);
  }
}

@keyframes fly3 {
  from {
    -webkit-transform: rotate(0deg) translateY(200px) rotate(0deg);
            transform: rotate(0deg) translateY(200px) rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg) translateY(200px) rotate(-360deg);
            transform: rotate(360deg) translateY(200px) rotate(-360deg);
  }
}

@-webkit-keyframes fly4 {
  from {
    -webkit-transform: rotate(0deg) translateX(300px) rotate(0deg);
            transform: rotate(0deg) translateX(300px) rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-360deg) translateX(300px) rotate(360deg);
            transform: rotate(-360deg) translateX(300px) rotate(360deg);
  }
}

@keyframes fly4 {
  from {
    -webkit-transform: rotate(0deg) translateX(300px) rotate(0deg);
            transform: rotate(0deg) translateX(300px) rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-360deg) translateX(300px) rotate(360deg);
            transform: rotate(-360deg) translateX(300px) rotate(360deg);
  }
}

.snow {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.snow .svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

#snow-top-layer {
  will-change: transform;
  -webkit-transform: translateY(-768px);
      -ms-transform: translateY(-768px);
          transform: translateY(-768px);
  -webkit-animation: fall 22.5s infinite linear;
          animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
  will-change: transform;
  -webkit-transform: translateY(-768px);
      -ms-transform: translateY(-768px);
          transform: translateY(-768px);
  -webkit-animation: fall 45s infinite linear;
          animation: fall 45s infinite linear;
}

@-webkit-keyframes fall {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fall {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
}

@media (min-width: 1930px) {
  .page {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .page__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .page__block {
    max-width: 1500px;
  }

  .page__title {
    font-size: 50px;
  }

  .page__subtitle {
    font-size: 45px;
    line-height: 50px;
  }
}

@media (max-width: 1292px) {
  .page__block {
    max-width: 478px;
  }
}

@media (max-width: 1280px) {
  .page__logo {
    margin-top: calc(28px + 74 * ((100vw - 320px) / 960));
  }

  .page__block {
    margin-top: calc(57px + 81 * ((100vw - 320px) / 960));
  }

  .page__title {
    margin-bottom: calc(25px + 4 * ((100vw - 320px) / 960));
  }

  .page__subtitle {
    font-size: calc(20px + 4 * ((100vw - 320px) / 960));
  }

  .page__subtitle {
    line-height: calc(28px + 4 * ((100vw - 320px) / 960));
  }
}